<% provide(:title, "About") %>

    <h1>About RoR math game app</h1>
    <p>
      Math game designed to provide a practical and fun way to allow year 3 kids to practice their 
      mathematical skills.
    </p>
