<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | RoR math game app</title>
  </head>
  <body>
    <h1>RoR math game app</h1>
    <p>
      Let's play!
    </p>
    <%= link_to "Sign up now!", 'signup' %>
  </body>
</html>